<div class="menu">
  <h3>Menu</h3>
  <ul>
  {{#each 
    (array
      (component "link-to" "API" "api")
      (component "link-to" "Primitive Types" "primitive-types")
      (component "link-to" "Composed Types" "composed-types")
      (component "link-to" "Parameterized Types" "parameterized-types")
    ) as |link|
  }}
    {{#component @item}}
      {{link}}
    {{/component}}
  {{/each}}
  </ul>

  <h3 class="mt-8 mb-2">Links</h3>
  <ul>
    <li><a href="https://github.com/microstates/ember" target="_blank" rel="noopener noreferrer">Repository</a></li>
    <li><a href="https://github.com/microstates/ember/issues" target="_blank" rel="noopener noreferrer">Issues</a></li>
    <li><a href="https://github.com/microstates/microstates.js">microstates.js</a></li>
  </ul>
</div>