{{#burger-menu animation="squeeze" width=200 as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <div class="menu">
      <h3>Demos</h3>
      <ul>
      {{#each 
        (array
          (component "anchor" "Any" "/#any-demo")
          (component "anchor" "Boolean" "/#boolean-demo")
          (component "anchor" "Number" "/#number-demo")
          (component "anchor" "Object" "/#object-demo")
          (component "anchor" "Array" "/#array-demo")
          (component "link-to" "TodoMVC" "todomvc")
          (component "link-to" "TodoMVC Manager" "todomvc-manager")
        ) as |link|
      }}
        {{#menu.item}}
          {{link}}
        {{/menu.item}}
      {{/each}}
      </ul>
    </div>
  {{/burger.menu}}

  {{#burger.outlet}}
    <div class="container mx-auto px-4 flex flex-wrap">
      <nav>
        <h1 id="title">
          <button type="button" class="burger" {{action burger.state.actions.toggle}}>
            {{fa-icon "bars"}}
          </button>
          @microstates/ember
        </h1>
      </nav>
      {{outlet}}
    </div>
  {{/burger.outlet}}
{{/burger-menu}}