<BurgerMenu @animation="squeeze" @width={{200}} as |burger|>
  <burger.menu @itemTagName="li" as |menu|>
    <Menu @item={{menu.item}} />
  </burger.menu>

  <burger.outlet>
    <div class="container mx-auto px-4 flex flex-wrap">
      <nav>
        <h1 id="title">
          {{#if (not (eq this.router.currentPath 'index'))}}
            <button type="button" class="burger" {{on "click" burger.state.actions.toggle}}>
              <FaIcon @icon="bars"/>
            </button>
          {{/if}}
          <LinkTo @route="index">@microstates/ember</LinkTo>
        </h1>
      </nav>
      <main>
        {{outlet}}
      </main>
    </div>
  </burger.outlet>
</BurgerMenu>