{{#burger-menu animation="squeeze" width=200 as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <div class="menu">
      <h3>Demos</h3>
      <ul>
      {{#each 
        (array
          (component "link-to" "Primitive Types" "primitive-types")
          (component "link-to" "Composed Types" "composed-types")
          (component "link-to" "Parameterized Types" "parameterized-types")
          (component "link-to" "Higher Order Types" "higher-order-types")
        ) as |link|
      }}
        {{#menu.item}}
          {{link}}
        {{/menu.item}}
      {{/each}}
      </ul>
    </div>
  {{/burger.menu}}

  {{#burger.outlet}}
    <div class="container mx-auto px-4 flex flex-wrap">
      <nav>
        <h1 id="title">
          <button type="button" class="burger" {{action burger.state.actions.toggle}}>
            {{fa-icon "bars"}}
          </button>
          @microstates/ember
        </h1>
      </nav>
      <main>
        {{outlet}}
      </main>
    </div>
  {{/burger.outlet}}
{{/burger-menu}}