<h1 id="title">ember-microstates Demo</h1>

{{#state-for MyApp value=value onchange=(action (mut value)) as |app|}}
  {{app.state.counter}}
  <button type='button' onclick={{invoke app.counter 'increment'}}>+1</button>
{{/state-for}}  