<iframe width="560" height="315" src="https://www.youtube.com/embed/kt5aRmhaE2M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="video"></iframe>
<p class="my-4">Checkout Charles' talk from <a href="https://www.youtube.com/watch?v=r2Cq1mUlRk4&t=3s">EmberConf 2016</a> to see where it all started.</p>
<Menu @item={{component 'li'}} />