<section>
  <header><h2 id="todomvc-demo">TodoMVC</h2></header>
  <div class="column demo">
    <Todomvc />
  </div>
  <div class="column code">
    <h3 class="mb-2">Type</h3>
    {{code-snippet name="todomvc-type.js"}}
    <h3 class="my-2">Component JavaScript</h3>
    {{code-snippet name="todomvc-component-javascript.js"}}
    <h3 class="my-2">Component Template</h3>
    {{code-snippet name="todomvc-component-template.hbs"}}
  </div>
</section>