nav {
  @apply .sticky .pin-t .pt-4;
}

h1 {
  @apply .mb-4;
}

@screen sm {
  .page-section {
    @apply .w-full .mb-12;
  }

  .page-section header {
    @apply .mb-4;
  } 

  .page-section .section-notes {
    @apply .bg-blue-lightest .border-blue-dark .border-l-2 .py-2 px-4;
  }

  .page-section .section-notes p {
    @apply .mb-2;
  }

  .page-section .section-body {
    @apply .flex;
  }

  .page-section .section-demo {
    @apply .ml-4 .flex-grow;
  }

  .page-section .code, .page-section .live {
    @apply .w-full
  }
}

@screen lg {
  .page-section .section-notes {
    @apply .w-1/3;
  }
}

.menu {
  @apply .p-4 .h-screen;
}

.menu h3 {
  @apply .mb-2;
}

.menu .close {
  @apply .mb-4;
}

.menu ul {
  @apply .list-reset;
}

.menu ul li {
  @apply .py-1;
}

.menu a {
  @apply .text-black .no-underline;
}

.menu .close {
  @apply .pin-r;
}

.btn-white {
  @apply .bg-white .text-grey-darkest .font-semibold .py-2 .px-4 .border .border-grey-light .rounded .shadow;    
}

.code pre {
  @apply .mb-12;
}

#boolean label {
  @apply .inline-block .w-16 .cursor-pointer
}

#boolean button, 
#number button, 
.string-demo button,
.object-demo button,
.array-demo button,
#todomvc-manager-demo .manager-form button {
  @apply .btn-white;
}

#boolean button:hover, 
#number button:hover, 
.string-demo button:hover,
.object-demo button:hover,
.array-demo button:hover {
  @apply .bg-grey-lightest
}

#any input, 
#number input, 
.string-demo input, 
.object-demo input,
#todomvc-manager-demo .manager-form input {
  @apply .border .rounded .p-2;
}

.value-badge {
  @apply .inline-flex .rounded-full .bg-indigo .px-2 .py-1 .text-xs .text-white .font-bold .mr-3
}

.object-demo label {
  @apply .block .cursor-pointer .font-bold;
}

.object-demo input {
  @apply block .mb-2;
}

.array-demo {
  @apply .w-1/2;
}

.array-demo > button {
  @apply .w-full;
}

.array-demo ul {
  @apply .list-reset;
}

.array-demo li {
  @apply .flex .py-1;
}

.array-demo li button {
  @apply .flex-none;
}

.array-demo input {
  @apply .block .flex-grow .text-xl .text-center .border .rounded .mx-2;
}

.tree-demo ul {
  @apply .list-reset .ml-6 .mt-2;
}

.tree-demo li {
  @apply .mb-2;
}

.tree-demo input {
  @apply .border .rounded .px-2;
}

#todomvc-manager-demo .manager-form > input {
  @apply .w-32;
}

#todomvc-manager-demo .badge {
  @apply .inline-flex .rounded-full .bg-indigo;
  @apply .px-2 .py-1 .text-xs .font-bold .mr-2 .text-white .text-center .align-middle;
}

#todomvc-manager-demo button:disabled {
  @apply .shadow-none .bg-grey-lightest;
}

#todomvc-manager-demo section {
  @apply .flex .flex-wrap;
}

#todomvc-manager-demo section {
  @apply .mt-8;
  background: #f5f5f5;
}

.todoapp-container {
  @apply .w-full .m-auto;
}

@screen lg {
  #todomvc-manager-demo .todoapp-container {
    @apply .w-1/2;
    
  }
  #todomvc-manager-demo .todoapp-container:nth-child(n + 1) {
    page-break-before: always; /* FF33 */
  }
}

